/*
* @Author: 宁
* @Date:   2017-09-19 17:04:34
* @Last Modified by:   宁
* @Last Modified time: 2017-09-19 17:53:48
*/
main {
	width: 1200px;
	margin: -1px auto;
}
.nothing >img {
	display:block;
	margin:0 auto;
}
/*开头*/
header {
	width: 100%;
	height: 61px;
	background: #0d0d0d;
}
.nav {
	width: 600px;
	height: 100%;
	margin: 0 auto;
}
.nav_container {
	display:flex;
	text-align:center;
	font-size: 16px;
	justify-content: space-between;
}
.nav_container a{
	text-decoration: none;
	color: #8c8c8c;
	padding-bottom: 20px;
}
.nav_container li{
	margin-top:15px;
}
.nav_container a:hover{
	 border-bottom: 4px solid #ff7f00;
	 color: #fff;
 }
.log{
	margin-left: 30px;
}
.log img{
	float: left;
	margin-top: 8px;
}
.seach{
	margin-top: 14px;
	margin-right: 30px;
	float: right;
	/*height:30px;*/
	/*background: #0d0d0d;*/
	border: 1px solid #505050;
}
.sign{
	float: right;
	width: 90px;
	height: 60px;
	background: #2a2a2a;
	text-align: center;
}
.sign a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	line-height: 60px;
}
/*轮播图开始*/
.banner {
	width: 100%;
	height: 1000px;
	background:url("../images/banner.jpg") no-repeat center ;
	background-size: 100% 100%;
}
.banner_text {
	padding-top: 550px;
	font-size: 38px;
}
.banner_text_left {
	color: red;
}
.banner_text_right {
	color: white;
}
.banner_point {
	margin-top:35px ;
	width: 160px;
}
.banner_point > ul >li {
	width: 10px;
	height: 10px;
	background: white;
}
.banner_point >ul >li:first-child{
	width: 100px;
	height: 10px;
	background: white;
}
.banner_text_down {
	font-size: 12px;
	color: white;
	margin-top: 47px;
}
.banner_butter {
	display: block;
	margin-top: 86px;
	width: 190px;
	height:50px;
	font-size: 12px;
	text-align: center;
	line-height: 50px;
	border: 2px solid white;
	color: white;
}
.banner_img {
	float: right;
	width: 277px;
	height:88px;
	background: url("../images/r6.png") no-repeat center;
}
.banner_last ul{
	width: 407px;
	height: 53px;
	display: flex;
	justify-content: space-between;
	margin-top: 54px;
}
.banner_last li:first-child{
	width:300px ;
	height:54px ;
	background: #f0b832;
}
.banner_last li {
	font-size: 20px;
	width: 53px;
	height:53px;
	background: #393839;
	text-align: center;
	line-height: 53px;
}
.banner_last li a {
	color: white;
}
/*轮播图结束*/
/*开头结束*/
/*内容1开始*/
.content_ugame {
	width: 100%;
	background: url("../images/background2.png") no-repeat center;
	background-size: 100% 100%;
	position: relative;
}
.content_characters {
	position: absolute;
	top: 77px;
	right: 0;
	width: 476px;
	height: 727px;
	background: url("../images/goldpic.png")no-repeat 0 0 ;
	z-index: 10;
}
.content_main {
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.content_honor {
	height: 331px;
	width: 300px;
	background-color: #f0a200;
}
.content_honor_img {
	height: 331px;
	width: 300px;
	background: url("../images/background1.png") no-repeat center;
	text-align: center;
	font-size: 26px;
	font-weight:bold;
	line-height: 26px;
	color: #ffffff;

}
.content_honor_img p:first-child {
	padding-top: 18px;
}
.content_honor_img p:nth-child(3){
	font-size: 36px;
	padding-top: 20px;
	color: #101010;
}
.content_honor_img p:nth-child(4){
	padding-top:54px;
	font-size: 28px;
}
.content_honor_img p:nth-child(5){
	font-size: 10px;
}
.content_honor_img p:nth-child(6){
	font-size: 80px;
	margin-top: 30px;
	font-family: "Agency FB";
}
.content_video {
	width: 450px;
	height: 331px;
}
.content_video >div>img {
	display: block;
	width: 100%;
	height: 281px;
}
.content_video_img {
	position: relative;

}
.content_video_img >a {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 40px;
	height: 40px;
	background: url("../images/play.png") no-repeat center ;
}
.content_video_text {
	width: 450px;
	height: 50px;
}
.content_video_text  {
	display: flex;
	justify-content: space-between;
	font-size: 24px;
	color:#f51b1b;
	font-weight:bold;
	line-height: 50px;
}
.content_video_text >a {
	background: #e1a029;
	width: 48px;
	height:50px;
	line-height: 48px;
	text-align: center;
	color: white;

}
.content_pic {
	position: relative;
	width: 450px;
	height: 331px;
}
.content_pic_img {
	width: 450px;
	height: 331px;
	background:url("../images/web_02.png")no-repeat center;
}
.content_pic_mask {
	position: absolute;
	top:0;
	left: 0;
	width: 450px;
	height: 331px;
	background:black;
	opacity: 0.5;
}
.content_pic_text {
	position: absolute;
	width: 430px;
	height: 286px;
	top:0;
	left: 0;
	color: white;
	margin-top: 45px;
	margin-left: 20px;
	font-size: 30px;
	font-weight:bold;
	font-family: "Arial";
}
.content_pic_text p:nth-child(2) {
	color: #f0b832;
	margin-top: 14px;
}
.content_pic_text p:nth-child(3) {
	color: #ffffff;
	margin-top: 33px;
	font-size: 24px;
}
.content_pic_text a {
	display:block ;
	width: 184px;
	height: 46px;
	border: 2px solid white;
	font-size: 16px;
	color: #fff;
	margin-top: 62px;
	line-height: 46px;
	text-align: center;
}
.content_buy {
	position: relative;
	width: 300px;
	height: 474px;
}
.content_buy_img {
	width: 300px;
	height: 250px;
	background: url("../images/web_11.png")no-repeat center;
}
.content_buy_mask {
	position: absolute;
	top:0;
	left: 0;
	width: 300px;
	height: 250px;
	background:black;
	opacity: 0.8;
}
.content_buy_text {
	position: absolute;
	width: 300px;
	height: 205px;
	top:0;
	left: 0;
	color: white;
	text-align: center;
	margin-top: 45px;
	font-size: 26px;
}
.content_buy_text p:nth-child(2) {
	margin-top: 19px;
}
.content_buy_text a {
	display:block ;
	width: 183px;
	height: 48px;
	margin-left: 19.5%;
	border: 2px solid white;
	font-size: 16px;
	color: #fff;
	margin-top: 59px;
	line-height: 48px;
	text-align: center;
}
.content_buy_text_down {
	width: 300px;
	height: 224px;
	font-size: 48px;
	color: #000;
	font-family: "Agency FB";
}
.content_buy_text_down p:first-child {
	padding-top: 47px;
}
.content_show >img {
	display: block;
	width:300px;
	height:474px;
}
.content_details {
	width:600px;
	height:474px;
}
.content_details_text {
	width: 600px;
	height: 250px;
}
.content_details_text >p {
	color: #000;
	font-family: "Arial";
	font-size: 24px;
	margin-left: 20px;
	margin-bottom: 13px;
}
.content_details_text p:first-child {
	margin-top: 18px;
}
.content_details_text >ul {
	margin-top:24px ;
	width: 93px;
	margin-left: 20px;
}
.content_details_text > ul >li {
	width: 6px;
	height: 6px;
	background: #e1a029;
}
.content_details_text >ul >li:first-child {
	width: 58px;
	height: 6px;
}
.content_details_text_down {
	width: 500px;
	height: 99px;
	font-size: 10px;
	font-family: "San Francisco Display";
	margin-left: 20px;
	margin-top: 20px;
}
.content_details_text_down >p {
	margin-bottom: 9px;
}
.content_details_pic {
	width: 600px;
	height: 224px;
}
.content_details_pic >ul >li >img {
	display: block;
	width: 300px;
	height:224px;
}
/*内容1结束*/
/*内容2开始*/
.content_news_pic {
	width: 100%;
	height: 760px;
	background: url("../images/background3.png") no-repeat center;
	background-size: 100% 100%;
	position: relative;
}
.content_news {
	width: 450px;
	height: 760px;
	background: red;
}
.content_news_text {
	width: 450px;
	height: 204px;
	background: yellow;
	text-align: center;
	color: #fff;
	font-family:"微软雅黑";
	font-weight:bold;
}
.content_news_text >p {

}
.content_news_text >p:first-child {
	font-size: 48px;
	font-family: "Agency FB";
	color: #e1a029;
}
/*内容2结束*/
/*内容3开始*/
.content_assassin {
	width: 100%;
	background: url("../images/background4.png") no-repeat center;
	background-size: 100% 100%;
	position: relative;
}
/*内容3结束*/
/*内容4开始*/
.content_hotshow {
	width: 100%;
	background: url("../images/background5.png") no-repeat center;
	background-size: 100% 100%;
	position: relative;
}
/*内容4结束*/
/*内容5开始*/
.content_aboutus {
	width: 100%;
	background: url("../images/background6.png") no-repeat center;
	background-size: 100% 100%;
	position: relative;
}
/*内容5结束*/
